
@{
    ViewBag.Title = "Incacsochan";
}
@{var songuyen = new int[] {5,1,2,3,4,6,7,8,9,10 }; }
<h2>Incacsochan</h2>
@foreach(var sochan in songuyen)
            {
                if(sochan %2 == 0)
                {
                    <p> @sochan </p>
                }
            }
