@model IEnumerable<DHTI14A2CL.Models.User>
@{
    ViewBag.Title = "TruyenTapDoiTuong";
}

<h2>TruyenTapDoiTuong</h2>
@{
    //var users = ViewBag.users as List<DHTI14A2CL.Models.User>;
    var users = Model;
    <table class="table table-bordered table-hover">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Address</th>
            <th>Email</th>
        </tr>
        @foreach (var user in users)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Name</td>
                <td>@user.Address</td>
                <td>@user.Email</td>
            </tr>
        }
    </table>
    
}
