@model IEnumerable<WebApplication.Models.User>
@{
    ViewBag.Title = "Index5";
}

<h2>Index5</h2>
@{
    foreach (var user in Model)
    {
        <h3>Id: @user.Id</h3>
        <p>Name: @user.Name</p>
        <p>Address: @user.Address</p>
        <p>Email: @user.Email</p>
    }
}
