
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index2</title>
</head>
<body>
    <div>
        @{
            var users = ViewBag.users as List<WebApplication.Models.User>;
            foreach (var user in users)
            {
                <h3>Id: @user.Id</h3>
                <p>Name: @user.Name</p>
                <p>Address: @user.Address</p>
                <p>Email: @user.Email</p>
            }
        }
    </div>
</body>
</html>
