
@{
    ViewBag.Title = "TimNgay";
}
@{ 
    int thang = ViewBag.Thang;
    int nam =  ViewBag.Nam;
    int soNgay = 0;
    switch (thang)
    {
        case 1:  // Tháng 1
        case 3:  // Tháng 3
        case 5:  // Tháng 5
        case 7:  // Tháng 7
        case 8:  // Tháng 8
        case 10: // Tháng 10
        case 12: // Tháng 12
            soNgay = 31;
            break;
        case 4:  // Tháng 4
        case 6:  // Tháng 6
        case 9:  // Tháng 9
        case 11: // Tháng 11
            soNgay = 30;
            break;
        case 2: // Tháng 2
            if (nam % 4 == 0 && (nam % 100 != 0 || nam % 400 == 0))
            {
                soNgay = 29; // Năm nhuận
            }
            else
            {
                soNgay = 28; // Năm không nhuận
            }
            break;
    }
}
<h2>Tìm số ngày trong tháng @ViewBag.Thang năm @ViewBag.Nam</h2>

<p>Số ngày trong tháng là: @soNgay</p>

