
@{
    ViewBag.Title = "InCacSoChanTu1Den10";
}

<h2>InCacSoChanTu1Den10</h2>
<ul>
    @{
        for (int i = 1; i <= 10; i++)
        {
            if (i % 2 == 0)
            {
                <li>@i</li>
            }
        }
    }
</ul>

