
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewChinhDungViewPhu</title>
</head>
<body>
    <div><h1>Tôi là view chính dưới là view phụ</h1></div>
    <div> 
        @Html.Partial("TestPartialView");
    </div>
</body>
</html>
