
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View không dùng layout</title>
</head>
<body>
    <div> 
        <h1>View không dùng layout</h1>
    </div>
</body>
</html>
