
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Đăng nhập thành công</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="alert alert-info" role="alert">
        Đăng nhập thành công
    </div>

    <div id="countdown" class="alert alert-info" role="alert">
        Đang chuyển sang trang home index <span id="countdown-number">5</span> giây.
    </div>

    <script>
        var countdown = 5;
        var countdownElement = document.getElementById("countdown-number");

        function startCountdown() {
            countdownElement.innerText = countdown;
            countdown--;

            if (countdown >= 0) {
                setTimeout(startCountdown, 1000);
            } else {
                window.location.href = "https://localhost:44364/Home/Index";
            }
        }

        startCountdown();
    </script>
</body>
</html>
