
@{
    ViewBag.Title = "FormUCLN";
}

<h2>FormUCLN</h2>
@{
    Html.BeginForm("TimUCLN", "TestView", FormMethod.Post);
    @Html.Label("Mời nhập a  ");
    @Html.TextBox("a")
    <br />
;
    @Html.Label("Mời nhập b  ");
    @Html.TextBox("b")
    <br />
;
<input type="submit" name="submit" value="Submit" />
    Html.EndForm();
}
