
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NhanChuyenHuong</title>
</head>
<body>
    <div>
        <p>Họ tên: @ViewBag.HoTen</p>
        <p>Tuổi: @ViewData["Tuoi"]</p>
        <p>Quê quán: @TempData["QueQuan"]</p>
    </div>
</body>
</html>
